<h2>Preencha seu curriculo</h2>
<form action="">
  <label for="nome">Nome</label>
  <input id="nome" type="text" [(ngModel)] = "curriculo.nome">

  <label for="telefone">Telefone</label>
  <input id="telefone" type="text">

  <label for="email">Email</label>
  <input id="email" type="text">

  <label for="experiencia">Experiencia</label>
  <input id="experiencia" type="text">

  <label for="formacao">Formação</label>
  <input id="formacao" type="text">

  <label for="skills">Skills</label>
  <input id="skills" type="text">
</form>
