//estilização de painel de vagas
//declaração de variaveis
$primaria: #0000ff;
$secundaria: #999;
$sucesso: #00ff00;
$alerta: #ff0000;
$aviso: #ffff00;

h2 {
  text-align: center;
  padding: 20px;
  color: #555;
}

form {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba($color: #000000, $alpha: 0.1); // sobra cinza no form

  label {
    display: block;
    margin-bottom: 1rem;
    color: #333;
    font-size: 1rem;
  }

  input {
    width: calc(100% - 40px);
    padding: 1rem 10px;
    margin-bottom: 1.5rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1rem;

    &:focus {
      outline: nome;
      border-color: $primaria;
      box-shadow: 0 4px 16px rgba($color: #000000, $alpha: 0.1);
    }
  }

  button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    margin-right: 1rem;

    &[type="button"]:nth-of-type(1) {
      //para o primeiro button do typo button
      background-color: $secundaria;

      &:hover {
        background-color: darken($color: $sucesso, $amount: 10%);
      }
    }

    &[type="button"]:nth-of-type(2) {
      //para o primeiro button do typo button
      background-color: $secundaria;

      &:hover {
        background-color: darken($color: $aviso, $amount: 10%);
      }
    }

    &[type="button"]:nth-of-type(3) {
      //para o primeiro button do typo button
      background-color: $secundaria;

      &:hover {
        background-color: darken($color: $alerta, $amount: 10%);
      }
    }
  }
}

//fim da estilização do formuláriO

.footer {
  height: 8vh;
}
