.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba($color: #000000, $alpha:0.5);
  font-size: 2rem;

  a{
    text-decoration: none;
    color: #777;
    font-weight: bold;
  }

  .navItens{
    display: flex;
    gap: 1.5rem;

    a{
      color: #0077ff;
      padding: 0.5rem 0;
      transition: color 0.3s ease;

      &:hover{
        color: #0056b3;
      }
    }
  }
}
