.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: #f8f9fa;
  background-color: #282b30;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  font-size: 1.25rem;

  .brand{
    color: #dee6f3;
    font-weight: 700;
    text-decoration: none;
  }

  a{
    text-decoration: none;
    color: #475569;
    font-weight: 600;
  }

  .navItens{
    display: flex;
    gap: 1.25rem;

    a{
      color: #1f56d8;
      padding: 0.4rem 0;
      transition: color 0.3s ease;

      &:hover{
        color: #0f3da5;
      }
    }
  }
}
