<section class="listar-vagas">
  <!-- property data binding ngfor -->
   <!-- Nova ferramenta @for -->
  @for (vaga of vagas; track vagas){
    <div>
      <div class="card">
        <img src="assets\img\vagas\{{vaga.foto}}" alt="...">
        <div class="card-body">
          <h5 class="card-title">Código da Vaga: {{vaga.id}}</h5>
          <h5 class="card-title">Vaga: {{vaga.nome}}</h5>
          <p class="card-text">Descrição da Vaga: {{vaga.descricao}}</p>
          <p class="card-text">Salário: R$ {{vaga.salario}}</p>

        </div>
      </div>
    </div>
  }
</section>
